[core]
        excludesfile = ~/.gitignore_global
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
	cf = commit --fixup
	st = status
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	last = log -1 HEAD
	difflast = diff --cached HEAD^
	aci = !git add -A && git commit
	acm = !git add -A && git commit -m
	acf = !git add -A && git commit --fixup
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !git lg1
	rb = rebase
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	rs = reset
	rsh = reset --hard
[help]
	autocorrect = 10
[push]
	default = simple
[ui]
	color = true
[mergetool]
	keepBackup = false
[merge]
	tool = winmerge
[rebase]
    autosquash = true	
